**Python Implementation**

Package Uses

1.   numpy
2.   pandas

In [ ]:
import numpy as np

In [ ]:
arr=np.array([1,2,3,4,5,7])

In [ ]:
print(arr)

[1 2 3 4 5 7]

In [ ]:
import pandas as pd

In [ ]:
data=pd.read_csv('Data.csv')

In [ ]:
print(data)

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [ ]:
pd.DataFrame(data)

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

**R Implementation**

Packages Used


*   readr
*   stringr

In [12]:
library(readr)

In [14]:
csv_file_path <- "/content/Data.csv"

df <- read_csv(csv_file_path)

print(df)

Rows: 10 Columns: 4
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (2): Country, Purchased
dbl (2): Age, Salary

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

# A tibble: 10 × 4
   Country   Age Salary Purchased
   <chr>   <dbl>  <dbl> <chr>
 1 France     44  72000 No
 2 Spain      27  48000 Yes
 3 Germany    30  54000 No
 4 Spain      38  61000 No
 5 Germany    40     NA Yes
 6 France     35  58000 Yes
 7 Spain      NA  52000 No
 8 France     48  79000 Yes
 9 Germany    50  83000 No
10 France     37  67000 Yes

In [15]:
library(stringr)

In [17]:
df$Country <- str_to_upper(df$Country)

In [18]:
print(df)

# A tibble: 10 × 4
   Country   Age Salary Purchased
   <chr>   <dbl>  <dbl> <chr>
 1 FRANCE     44  72000 No
 2 SPAIN      27  48000 Yes
 3 GERMANY    30  54000 No
 4 SPAIN      38  61000 No
 5 GERMANY    40     NA Yes
 6 FRANCE     35  58000 Yes
 7 SPAIN      NA  52000 No
 8 FRANCE     48  79000 Yes
 9 GERMANY    50  83000 No
10 FRANCE     37  67000 Yes